<header>
    <div>
        <img src="../img/Jamba-logo.jpg" class="jamba-logo">
    </div>

    <ul class="jamba-menu">
        <li>Jamba Menu</li>
        <li>About Jamba</li>
        <li>Events</li>
        <li>Stores</li>
        <li>Franchise</li>
        <li>Customer Service</li>


    </ul>
</header>